.modal {
  z-index: var(--modalIndex);
  position: fixed;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2rem;
  min-width: 30rem;
  background-color: var(--main1);

  .text {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .controls {
    display: flex;

    .button {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
