.card {
  display: flex;
  flex-flow: column;
  padding: 5rem;
  border-radius: 1rem;
  background-color: var(--main1);
  box-shadow: var(--shadow1);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
