.Board {
}

.Row {
  display: flex;

  .Cell {
    user-select: none;

    &:first-child {
      border-left: 2px solid black;
    }

    &:last-child {
      border-right: 2px solid black;
    }
  }

  &:first-child {
    .Cell {
      border-top: 2px solid black;
    }
  }

  &:last-child {
    .Cell {
      border-bottom: 2px solid black;
    }
  }
}
