.Ship {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  cursor: move;

  background-color: rgba(blue, 0.5);
  display: flex;

  .Segment {
    height: var(--cellSize);
    width: var(--cellSize);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid rgba(navy, 0.5);
  }
}
