.Board {
}

.Row {
  display: flex;

  .Cell {
    border: none;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid black;
    }

    &:first-child {
      &::before {
        border-left: 2px solid black;
      }
    }

    &:last-child {
      &::before {
        border-right: 2px solid black;
      }
    }
  }

  &:first-child {
    .Cell {
      &::before {
        border-top: 2px solid black;
      }
    }
  }

  &:last-child {
    .Cell {
      &::before {
        border-bottom: 2px solid black;
      }
    }
  }
}
