@import 'index.scss';

.game {
  display: flex;
  flex-flow: row;

  & > *:first-child {
    margin-right: 10rem;
  }

  @include respond-to('medium') {
    flex-flow: column;
    align-items: center;

    & > * {
      margin: 0 !important;

      &:first-child {
        margin-bottom: 2rem !important;
      }
    }
  }
}

.row {
  display: flex;

  .cell {
    border: none;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid black;
    }

    &:first-child {
      &::before {
        border-left: 2px solid black;
      }
    }

    &:last-child {
      &::before {
        border-right: 2px solid black;
      }
    }
  }

  &:first-child {
    .cell {
      &::before {
        border-top: 2px solid black;
      }
    }
  }

  &:last-child {
    .cell {
      &::before {
        border-bottom: 2px solid black;
      }
    }
  }
}

.playerCell,
.enemyCell {
  position: relative;
  width: var(--cellSize);
  height: var(--cellSize);
  user-select: none;
}

.enemyCell {
  cursor: pointer;
}

.ship {
  background-color: var(--ship);
}

.hitted {
  background-color: var(--hitted);
}

.ship.hitted {
  background-color: var(--shipHitted);
}
