@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

$breakpoints: (
  'small': 30em,
  'medium': 70em,
  'large': 100em,
) !default;

$types: (
  'min': 'min-width',
  'max': 'max-width',
) !default;

@mixin respond-to($breakpoint, $type: 'max') {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (map-get($types, $type): map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint named \"#{$breakpoint}\" does not exists.";
  }
}

:root {
  --ship: #3498db;
  --hitted: #bdc3c7;
  --shipHitted: #d35400;

  --main1: white;
  --shadow1: 2px 2px 8px rgba(0, 0, 0, 0.25);

  --cellSize: 50px;

  --backdropIndex: 100;
  --modalIndex: 200;

  --c1: #fdd377;
  --c2: #f3db01;
  --c3: #b98a46;

  @include respond-to('medium') {
    --cellSize: 40px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  font: inherit;
}

*:focus {
  outline: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  height: 100%;

  @include respond-to('large', 'min') {
    font-size: 72.5%;
  }
}

body {
  --opacity: 0.35;
  height: 100%;
  font-size: 1.6rem;
  overflow: hidden;

  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-image: linear-gradient(
      rgba(black, var(--opacity)),
      rgba(black, var(--opacity))
    ),
    url('assets/images/bg.jpg');
}

#root {
  height: 100%;
}

ol,
ul,
nav {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
