.button {
  position: relative;
  display: flex;
  align-items: center;
  height: 7rem;
  min-width: 18rem;
  border: 6px solid var(--c2);
  background-color: transparent;
  color: var(--c2);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 4px 4px 4px rgba(black, 0.25);

  -webkit-tap-highlight-color: transparent;

  &:disabled {
    border-color: gray;
    color: gray;
    cursor: default;
  }

  .text {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 3.2rem;
    text-transform: uppercase;
    pointer-events: none;
    // text-shadow: 4px 4px 4px rgba(black, 0.25);
  }

  .rippleContainer {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.ripple {
  --rippleSize: 450px;
  position: absolute;
  border-radius: 100%;
  background-color: rgba(black, 0.1);
  pointer-events: none;

  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

.rippleDown {
  animation-name: AnimateDown;
}

.rippleUp {
  animation-name: AnimateUp;
}

@keyframes AnimateDown {
  0% {
    height: 0px;
    width: 0px;
    opacity: 1;
  }
  100% {
    height: var(--rippleSize);
    width: var(--rippleSize);
    transform: translateX(calc(var(--rippleSize) / 2 * -1))
      translateY(calc(var(--rippleSize) / 2 * -1));
    opacity: 0.5;
  }
}

@keyframes AnimateUp {
  0% {
    height: var(--rippleSize);
    width: var(--rippleSize);
    transform: translateX(calc(var(--rippleSize) / 2 * -1))
      translateY(calc(var(--rippleSize) / 2 * -1));
    opacity: 0.5;
  }
  100% {
    height: var(--rippleSize);
    width: var(--rippleSize);
    transform: translateX(calc(var(--rippleSize) / 2 * -1))
      translateY(calc(var(--rippleSize) / 2 * -1));
    opacity: 0;
  }
}
